@font-face{
    font-family: form;
    src: url(../fonts/Reform.ttf);
}
* {
    font-family: form;

    padding: 0;
    margin: 0;
    margin: auto;
    cursor: url(../img/cursor2.png) 1 1, auto;
}
html, body, main {
    height: 100%;
    width: 100%;
}
body {
    cursor: url(../img/cursor2.png) 1 1, auto;

    background-color: #263645;
    background-image: url(../svg/background.svg), radial-gradient(50% 100% at center, rgb(120, 127, 133) 0%, rgba(0,0,0,0) 50%);
    background-position: 0 60%, 0 100%;
    background-size: 125%, 50% 100%;
    margin: 0;
    display: table;
    animation: move 9s linear infinite;
}
main {
    display: table-cell;
    vertical-align: middle;
}
caption {
    width: 490px;
    height: 60px;
    line-height: 40px;

    color: rgba(93, 93, 93, .91);
    font-size: 50px;
    text-shadow: .7px .7px #fff;

    background: rgba(130, 142, 154, 0.4);
    margin-bottom: 60px;
    border-radius: 25px;
}
form {
    margin: 0 30px;
    border-radius: 30px;
}
fieldset {
    padding-top: 10px;
    width: 390px;
    border-radius: 30px;
    background: rgba(38,54,69,0.9);
    transition: background 3s ease;
}
fieldset:hover {
    background: rgba(67, 83, 99, 0.65);
}
legend {
    font-size: 24px;
    border-radius: 5px;
    margin-left: 30px;
    text-shadow: .5px .5px rgba(255, 255, 255, 0.65);
}
.innerTbl tr td:nth-of-type(1) {
    width: 160px;
    height: 35px;
    text-align: right;
    color: #636F79;
    font-size: 19px;
    padding-right: 5px;
    transition: text-shadow .2s linear;
    transition: transform .2s linear;
}
.innerTbl tr td:nth-of-type(1):hover {
    color: rgba(189, 186, 186, 0.8);
    text-shadow: 2.7px 2.7px #000;
    transform: translate(-8px,-0px);
}
label {
    text-shadow: -.8px -.8px black;
    transition: text-shadow 1.5s ease;
}
fieldset:hover label {
    text-shadow: 1.2px 1.2px #000;
}
input {
    width: 185px;
    height: 25px;
    font-size: 13px;
    border-radius: 5px;
    margin-right: 25px;
    padding-left: 5px;
    outline: none;
    background: rgba(99,111,121,0.5);
    border: none;
    border-left: 1px solid black;
    border-top: 1px solid black;
    cursor: url(../img/cursor11.png) 1 1, auto;
    transition: background .3s linear;/*
    transition: box-shadow 1.5s ease;*/
}
input:hover {
    background: #312A2A;
    color: white;
}
button {
    font-size: 18px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    margin: 5px 0 25px 0;
    padding: 3px;
    background: rgba(99,111,121,0.5);
    border: none;
    box-shadow: 1px 1px inset;
    transition: background 2s ease;
    cursor: url(../img/cursor11.png) 1 1, auto;
}
fieldset:hover button {
    background: rgb(99, 111, 121);
}
button:active {
    box-shadow: 2px 2px inset, 1px 1px;
}
.save {
    width: 55px;
    margin-left: 180px;
}
.cancel {
    width: 67px;
    margin-left: 25px;
}
.left {
    transition: transform 1s ease;
    transform: perspective(600px) rotateY(13deg);
}
.right {
    transition: transform 1s ease;
    transform: perspective(600px) rotateY(-13deg);
}
.left:hover, .right:hover {
    transform: perspective(0) rotateY(0);
}
.age {
    width: 50px;
}
@media screen and (min-width: 2800px){
    label,input, button {
        font-size: 5px;
    }
    button {
        height: 15px;
    }
}
@keyframes move {
    0% {
        background-position: 0 60%, 0 50%;
    }
    100% {
        background-position: 0 60%, 100% 50%;
    }
}